<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buchstadt.mapper.AddressMapper">

    <insert id="insertOneAddress">
        INSERT INTO addresses(province, city, area, street, phone, holder, detail, create_date, modify_date, user_id)
        VALUES (#{data.province}, #{data.city}, #{data.area}, #{data.street}, #{data.phone}, #{data.holder},
                #{data.detail}, #{data.createDate}, #{data.modifyDate}, #{uid});
    </insert>

    <resultMap id="result-map-for-queryAllAddress" type="Address" autoMapping="true">
        <id property="id" column="id"/>
    </resultMap>
    <select id="queryAllAddresses" resultMap="result-map-for-queryAllAddress">
        SELECT * FROM addresses
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="uid != null and uid != 0">
                AND user_id = uid
            </if>
        </trim>
    </select>

</mapper>