<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buchstadt.mapper.BCommentMapper">

    <sql id="sql-for-queryAllComments">
        SELECT bc.*,
               u.username      u_username,
               u.level         u_level,
               u.id            u_id,
               u.profile_photo u_profile_photo
        FROM b_comments bc
                 INNER JOIN buchs b ON b.id = bc.buch_id
                 INNER JOIN users u ON u.id = bc.user_id
    </sql>

    <sql id="frg2">
        <choose>
            <!-- &gt; 大于-->
            <when test="${operName} == 'gt'">
                AND ${colFiled} &gt; #{${proFiled}}
            </when>
            <!-- &gt;= 大于等于-->
            <when test="${operName} == 'gteq'">
                AND ${colFiled} &gt;= #{${proFiled}}
            </when>
            <!-- &lt; 小于-->
            <when test="${operName} == 'lt'">
                AND ${colFiled} &lt; #{${proFiled}}
            </when>
            <!-- &lt;= 小于等于-->
            <when test="${operName} == 'lteq'">
                AND ${colFiled} &lt;= #{${proFiled}}
            </when>
            <!-- eq 等于-->
            <when test="${operName} == 'eq'">
                AND ${colFiled} = #{${proFiled}}
            </when>
        </choose>
    </sql>

    <resultMap id="result-map-for-queryAllComments" type="BComment" autoMapping="true">
        <id property="id" column="id"/>
        <association property="user" javaType="com.buchstadt.pojo.BComment$User" autoMapping="true"
                     columnPrefix="u_">
            <id property="id" column="id"/>
        </association>
    </resultMap>

    <select id="queryAllComment" resultMap="result-map-for-queryAllComments">
        <include refid="sql-for-queryAllComments"/>
        <trim prefix="WHERE" prefixOverrides="AND">
            <if test="type != null and type != '' and type != 'all'">
                AND bc.type = #{type}
            </if>
            <if test="id != null and id != 0">
                AND bc.buch_id = #{id}
            </if>
            <if test="bury != null">
                <include refid="frg2">
                    <property name="colFiled" value="bc.bury"/>
                    <property name="operName" value="buryOp"/>
                    <property name="proFiled" value="bury"/>
                </include>
            </if>
            <if test="digg != null">
                <include refid="frg2">
                    <property name="colFiled" value="bc.digg"/>
                    <property name="operName" value="diggOp"/>
                    <property name="proFiled" value="digg"/>
                </include>
            </if>
        </trim>
    </select>

    <insert id="insertOne">
        INSERT INTO b_comments
            (content, type, buch_id, user_id)
        VALUES (#{data.content}, #{data.type}, #{data.id}, #{uid})
    </insert>

    <insert id="deleteOneComment">
        DELETE
        FROM b_comments
        WHERE id = #{id};
    </insert>

</mapper>