<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buchstadt.mapper.CartMapper">

    <insert id="insertOneItem">
        INSERT INTO carts (user_id, buch_id, num)
        VALUES (#{uid}, #{vo.id}, #{vo.num})
    </insert>

    <resultMap id="result-map-for-queryAll" type="Cart" autoMapping="true">
        <id property="id" column="id"/>
        <association property="buch" columnPrefix="b_" javaType="com.buchstadt.pojo.Cart$Buch" autoMapping="true"/>
        <association property="publisher" columnPrefix="p_" javaType="com.buchstadt.pojo.Cart$Publisher"
                     autoMapping="true"/>
    </resultMap>

    <select id="queryAll" resultMap="result-map-for-queryAll">
        SELECT c.*,
               b.id       b_id,
               b.name     b_name,
               b.price    b_price,
               b.discount b_discount,
               p.name     p_name,
               p.id       p_id
        FROM carts c
                 INNER JOIN buchs b ON b.id = c.buch_id
                 INNER JOIN pubs p ON p.id = b.pub_id
        WHERE c.user_id = #{uid};
    </select>

    <delete id="deleteOneItem">
        DELETE
        FROM carts
        WHERE id = #{id}
          AND user_id = #{uid};
    </delete>

    <delete id="emptyCart">
        DELETE
        FROM carts
        WHERE user_id = #{userId};
    </delete>

    <insert id="createOrder" parameterType="PayVo" useGeneratedKeys="true"
            keyProperty="vo.id">
        INSERT INTO orders(user_id, total, location, phone, holder)
        VALUES (#{uid}, #{vo.total}, #{vo.location}, #{vo.phone}, #{vo.holder})
    </insert>

    <insert id="insertOrderItem">
        <foreach collection="list" item="item">
            INSERT INTO o_buchs(order_id, buch_id, num)
            VALUES (#{item.orderId}, #{item.buchId}, #{item.num});
        </foreach>
    </insert>

</mapper>