<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.buchstadt.mapper.PubMapper">

    <sql id="select-left-join-buchs">
        SELECT p.*,
               b.id     b_id,
               b.name   b_name,
               price    b_price,
               discount b_discount,
               cover    b_cover,
               type     b_type
        FROM pubs p
                 LEFT JOIN buchs b ON b.pub_id = p.id
    </sql>

    <resultMap id="result-map-for-query" type="Pub" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="buchs" ofType="com.buchstadt.pojo.Pub$Buch" autoMapping="true" columnPrefix="b_">
            <id column="id" property="id"/>
            <collection property="authors" column="{id=id}" ofType="com.buchstadt.pojo.Pub$Author"
                        select="selectAuthors"/>
        </collection>
    </resultMap>

    <select id="queryOne" resultMap="result-map-for-query">
        <include refid="select-left-join-buchs"/>
        WHERE p.id = #{id};
    </select>

    <select id="queryAll" resultMap="result-map-for-query">
        <include refid="select-left-join-buchs"/>
    </select>

    <resultMap id="result-map-for-selectAuthors" type="com.buchstadt.pojo.Pub$Author" autoMapping="true">
        <id column="id" property="id"/>
    </resultMap>

    <select id="selectAuthors" resultMap="result-map-for-selectAuthors">
        SELECT *
        FROM b_authors
        WHERE buch_id = #{id};
    </select>

    <update id="updateOne">
        UPDATE pubs
        SET name          = #{name},
            profile       = #{profile},
            profile_photo = #{profilePhoto}
        WHERE id = #{id};
    </update>

    <insert id="insertOne">
        INSERT INTO pubs(name, profile_photo, profile)
        VALUES (#{name}, #{profilePhoto}, #{profile});
    </insert>

    <delete id="deleteOne">
        DELETE
        FROM pubs
        WHERE id = #{id};
    </delete>

    <resultMap id="result-map-for-queryPublisherSelectOption"
               type="com.buchstadt.pojo.dto.PubSelectOptionDto">
        <id column="id" property="value"/>
        <result column="name" property="label"/>
    </resultMap>

    <select id="queryPublisherSelectOption" resultMap="result-map-for-queryPublisherSelectOption">
        SELECT name, id
        FROM pubs;
    </select>
</mapper>