a {
  text-decoration: none !important;
}

a:linked {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}

.page-content {
  margin: 1% 15%;
}
